*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/metals.sbt

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# MacOS
.DS_Store

.bloop/
.metals/
